body {
	max-width: 960px;
	margin: auto;
}

#wrapper {
	height: 100vh;
	overflow: hidden;
}

img {
	width: 100%;
}

#the-dragon {
	float: left;
	width: 50%;
	height: 50%;
}

#fleeing-peon {
	float: right;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	padding: 20%;
}

#die-outer {
	height: 50%;
	width: 50%;
	box-sizing: border-box;
	padding: 22%;
	margin: auto;
}

#die-inner {
	display: inline;
}