body {
	max-width: 960px;
	margin: auto;
	font-family: Cursive, serif;
}

#outer-wrapper {
	overflow: hidden;
}

#upper-console {
	height: 60vh;
}

#img-wrapper {
	float: left;
}

#lower-console {
	margin: auto;
	height: 40vh;
	width: 80%;
}

#dragon img {
	width: 65%;	
}

#fleeing-peon {
	display: none;
}

input[type="button"] {
	border: none;
	background-color: #990000;
	font-size: 16px;
	color: #fff;
	border-radius: 5px;
	font-family: sans-serif;
}

input[type="button"]:hover {
	cursor: pointer;
} 

#roll-button {
	display: none;
}

#dice-wrapper {
	float: right;
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
	background-color: #f0f0f0;
}

#button-wrapper {
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
	background-color: #f0f0f0;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#message {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}